<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/style.css" type="text/css">

<head>
	<meta charset="utf-8" />
	<title>City Weather Lookup</title>
</head>

<body id="back">
    
	<h1>City Weather Information</h1>

	<p>City: <%= city %></p>
    <p>Country: <%= country %></p>
    <p>Temperature: <%= weather %> °C</p>
    <p>Feels Like: <%= feelsLike %> °C</p>
    <p>Weather Description: <%= weatherDescription %></p>
    <p>Wind Speed: <%= windSpeed %> km/h</p>
	<hr>
    <p><a href="/">Back to Menu</a></p>
</body>

</html>
